/* aboutpage */
div#aboutpage
{
  color: #E3E7D3;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
}
ul#aboutpagecontributors
{
  color: #ffffff;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 2s;
}
ul#aboutpagetasks
{
  color: #ffffff;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 4s;
}
h3#aboutpageh3-2
{
  top: 25px;
  color: #D2D4C8;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 4s;
}


/* dashboardpage */
h1#dashboard-title
{
  color:#E3E7D3;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
}
table
{
  border-collapse: collapse;
  padding: 10px;
  margin: 5% 5%;
  display: inline-block;
}
th#table-header
{
  background-color: #7A6F9B;
  border-radius: 2px;
 
  size-adjust: 150%;

  position: sticky;
  top: 0;
  /* makes headers stay while scrolling */
}
th#sidetable-header
{
  background-color: #715f9659;
  border-radius: 2px;
}
table, tr, td, th
{
  color:#ffffff;
  text-align: left;
  padding: 5px;
  border: none !important;
  /* honestly not sure why !important is needed but it looks so gross with borders*/
}
table#chart{
  height: 200px;
  overflow-y: scroll;
  /* I would've went crazy without table scrolling */
  display: inline-block;
}
td
{
  padding-right: 100px;
}
h2#basetext
{
  color: #ffffff;
  margin-bottom: -4%;
  margin-left: 5%;
}
h2#revisedtext
{
  color: #ffffff;
  margin-bottom: -4%;
  margin-left: 5%;
}
div#basemodel
{
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 2s;
  height: 25%;
}
div#revisedmodel
{
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 4s;
}
table#sidetables
{
  float: right;
}

/* homepage */
div#homepage
{
  color:#E3E7D3;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  /* centering */
}






/* animations */
@keyframes fade
{
  0%{opacity: 0}
  100%{opacity: 1;}  
  /*takes opacity from 0 and gradients it to 1*/
}








/* headfoot */
header
{
  font-size: larger;
  position: fixed;
  top: 0;
  padding: 10px;
  animation: fade 2s;
}

footer
{
  color: #7A6F9B;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  animation: fade 2s;
}




/* webpage formatting */
body {
  font-family: 'Chivo';
  background-image: url("../img/cartographer.jpg");
  /* Source: https://www.toptal.com/designers/subtlepatterns/cartographer/ */
}

h1
{
  margin: 0;
  animation: fade 2s;
}

h3
{
  top: 25px;
  color: #D2D4C8;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 2s;
}

table, th, td
{
  border: 1px solid black;
  border-collapse: separate;
}




/* navbar */
div#navbar
{
  height: 20px;
  display: table;
  float: left;
  margin: 0 auto;
}

li#navli
{
  display: inline;
}

li#navli a
{
  color: #7A6F9B;
  padding: 5px;
  text-decoration: none;
}

li#navli a:hover 
{
  color: #a09ccc;
}





/* scrollbar */
::-webkit-scrollbar
{
  background: #43385a5d;
  border: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #7A6F9B;
  border: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a09ccc;
}