/* aboutpage */
div#aboutpage
{
  color: #E3E7D3;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
}
ul#aboutpagecontributors
{
  color: #ffffff;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 2s;
}
ul#aboutpagetasks
{
  color: #ffffff;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 4s;
}
h3#aboutpageh3-2
{
  top: 25px;
  color: #D2D4C8;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 4s;
}


/* dashboardpage */
div#dashboardpage
{
  color:#E3E7D3;
}


/* homepage */
div#homepage
{
  color:#E3E7D3;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  /* centering */
}






/* animations */
@keyframes fade
{
  0%{opacity: 0}
  100%{opacity: 1;}  
}








/* headfoot */
header
{
  font-size: larger;
  position: fixed;
  top: 0;
  padding: 10px;
  animation: fade 2s;
}

footer
{
  color: #7A6F9B;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  animation: fade 2s;
}




/* webpage formatting */
body {
  font-family: 'Chivo';
  background-image: url("../img/cartographer.jpg");
  /* Source: https://www.toptal.com/designers/subtlepatterns/cartographer/ */
}

h1
{
  margin: 0;
  animation: fade 2s;
}

h3
{
  top: 25px;
  color: #D2D4C8;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 2s;
}




/* navbar */
div#navbar
{
  height: 20px;
  display: table;
  float: left;
  margin: 0 auto;
}

li#navli
{
  display: inline;
}

li#navli a
{
  color: #7A6F9B;
  padding: 5px;
  text-decoration: none;
}

li#navli a:hover 
{
  color: #a09ccc;
}